<h1>Task List Generator</h1>

<div id='task-list-display'>

  <h2>Add task items</h2>

  <h3>Obtain a Driver's License</h3>

  <ul id='mygov-task-list'>
  </ul>

</div>

<form>
  <input type="text" class="add-task-item" value="Add another task item">
  <br/>
  <a class='mygov-button' href='#'>Add a Task</a>
  &nbsp;&nbsp;
  <a href='#'>I'm done</a>
</form>
